#1.What are the two values of the Boolean data type? How do you write them?

The two values of the Boolean data type are:

1. True - represents a condition that is true or valid
2. False - represents a condition that is false or invalid.

#2. What are the three different types of Boolean operators?

1. AND
2. OR
3. NOT

#3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

1. AND

|1|2|Result|
|---|---|---|
|True|True|True|
|True|False|False
|False|True|False
|False|False|False

2. OR

|1|2|Result|
|---|---|---|
|True|True|True|
|True|False|True
|False|True|True
|False|False|False

3. NOT

|1|Result|
|---|---|
|True|False|
|False|True|

#4. What are the values of the following expressions?
1. (5 &gt; 4) and (3 == 5)
2. not (5 &gt; 4)
3. (5 &gt; 4) or (3 == 5)
4. not ((5 &gt; 4) or (3 == 5))
5. (True and True) and (True == False)
6. (not False) or (not True)

In [1]:
(5>4) and (3==5)

False

In [2]:
not(5>4)

False

In [3]:
(5>4) or (3==5)

True

In [4]:
not((5>4) or (3==5))

False

In [5]:
(True and True) and (True == False)

False

In [6]:
(not False) or (not True)

True

#5. What are the six comparison operators?

1. Equal to (==)
2. Not equal to (!=)
3. Greater than (>)
4. Less than (<)
5. Greater than or equal to (>=)
6. Less than or equal to (<=)

#6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

* The equal to operator (==) is used to compare two values and check if they are equal
* The assignment operator (=) is used to assign a value to a variable.

In [9]:
x=5
if x==5:
  print(f"x is equal to {x}")

x is equal to 5

#7. Identify the three blocks in this code:

In [11]:
spam = 0  # block 1

if spam == 10:  # block 2
    print('eggs')
if spam > 5:  # block 3
    print('bacon')
else:
    print('ham')
print('spam')
print('spam')

ham
spam
spam

#8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [18]:
spam= int(input())

if spam== 1:
  print("Hello")
else:
  if spam== 2:
    print("Howdy")
  else:
    print("Greetings!")

3
Greetings!

#9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

* interrupt the kernel by selecting "Runtime" from the menu bar and then clicking on "Interrupt Execution" or by using the keyboard shortcut Ctrl + M I

* selecting "Runtime" from the menu bar and then clicking on "Restart Runtime" or by using the keyboard shortcut Ctrl + M .

#10. How can you tell the difference between break and continue?

The main difference between 'break' and 'continue' is that 'break' is used to exit a loop entirely, while 'continue' is used to skip a specific iteration of a loop and move on to the next iteration.

In [20]:
# Using break to exit a loop
for i in range(15):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

In [25]:
# Using continue to skip a loop
for i in range(15):
    if i == 7:
        continue
    print(i)

0
1
2
3
4
5
6
8
9
10
11
12
13
14

#11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

when using range() in a for loop, there is no difference between range(10), range(0, 10), and range(0, 10, 1) in terms of the output of the loop, but there are some differences in the way that the range() function works with these different arguments.

In [27]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
for i in range(1,10,2):
  if i==0:
    continue
  print(i**2)

1
9
25
49
81

#12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [39]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [41]:
i=1
while i <= 10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

#13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

# Import the module
import spam

# Call the function
spam.bacon()

In [ ]:
# Import the module
import spam

# Call the function
spam.bacon()